/* ======================
FONTS & BASE STYLES 
====================== */

/* Colors */
:root {
  --background-color: #FAF2DA;
  --primary-color:#af2932;
  --secondary-color: #869460;
  --accent-color: #4A503D;
  --text-shadow-color: #4c1623;
}
/* Font Classes */
@font-face {
  font-family: 'Pixelify Sans';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  src: url(assets/Jacquard_24,Pixelify_Sans/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Jacquard 24';
  font-weight: 400;
  font-style: normal;
  src: url(assets/Jacquard_24,Pixelify_Sans/Jacquard_24/Jacquard24-Regular.ttf) format('truetype');
}

/* ======================
EFFECTS
====================== */
@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-3px, 3px); }
  40% { transform: translate(-3px, -3px); }
  60% { transform: translate(3px, 3px); }
  80% { transform: translate(3px, -3px); }
  100% { transform: translate(0); }
}

@keyframes pixel-bounce {
  0% { transform: translateY(0) }
  100% { transform: translateY(-5px) }
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--accent-color) }
}

/* ======================
  CORE LAYOUT 
  ====================== */
html {
  height: 100%;
  display: table-column;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

body {
  margin: 0;
  background: url('assets/bg-gif.gif') center/cover no-repeat fixed;
  height: 100vh;
}

.content {
  background-color: rgba(255, 237, 205, 0.4); /* overlay */
  padding: 0px;
  
  position: relative;
  height: 200vh;
  box-sizing: border-box;
}

/* ======================
  TYPOGRAPHY 
  ====================== */
/* Reset heading margins */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: 'Jacquard 24';
  text-shadow: 
    3px 3px 0 var(--text-shadow-color) ;

  color: var(--primary-color);
  font-weight: 500;
  font-size: 110px;
  text-align: center;
  margin: 0 auto; /* Center horizontally */
  padding: 10px 0; /* Reasonable padding */
  position: relative; /* Change from absolute */
  width: 100%;
}

h2 {
  font-family: 'Pixelify Sans';
  text-shadow: 
    3px 3px 0 var(--text-shadow-color);  
    
  color: var(--primary-color);
  font-weight: 700;
  font-size: 40px;
  margin-top: 20px;
}

h3 {
  font-family: 'Pixelify Sans';
  color: var(--accent-color);
  font-weight: 700;
}

h4 {
  font-family: 'Pixelify Sans';
  color: var(--primary-color);
  font-weight: 700;
}

.exec-status-text {
  /* Centering and layout */
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-weight: 1000;

  /* Initial hidden state */
  opacity: 0;
  transform: translateY(10px);
  
  
  /* Transitions */
  transition: 
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

/* Visible State - removes initial hidden state */
.exec-status-text.visible {
  opacity: 1;
  transform: translateY(0);
  
  /* Shared animations when visible*/
  animation: 
    pixel-bounce 0.5s 30 alternate,
    typing 10s steps(50, end),
    blink-caret 1s step-end infinite;
  
}

.exec-status-text:not(.visible) {
  opacity: 0;
}

/* Typewriter-specific styles */
.exec-status-text.typewriter {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

/* ======================
  ELEMENTS
  ====================== */
/* Reset heading margins */

/* Wildcards */
.wildcard-container label { /* "label" targets each individual wildcard*/
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 25px;
}

.wildcard-container input[type="radio"] {
  position: relative;
  opacity: 0;
  width: 0;
  height: 0;
}

/* Hover effect */
.wildcard-container label:hover {
  transform: scale(1.1);
  transform-origin: center; 
}

/* Checked state styling */
.wildcard-container input:checked + img {
  filter: brightness(0.7);
  transform: scale(1.25); 
  transform-origin: center;
}

.wildcard-container img {
  width: 100%;              
  height: 100%;             
  object-fit: contain;      
}

/* Execute Button */
.exec-button {
  display: inline-block; /* Allows for width and height */
  padding: 10px 0px; /* Add some padding */
  background-color: transparent; /* Add a subtle background */
  border: none; /* Remove default button border */
  cursor: pointer; /* Change cursor to a pointer on hover */
  transition: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}

.exec-button:hover {
  transform: scale(1.1); 
}
/* Glitch animation styles */
.exec-button.loading { 
  animation: glitch 1s linear 15 both; 
  /* have the animation set to 20 sec rn, will have to time the loading period */
}

.exec-button img {
  width: 100%;              /* Make image fill the button */
  height: 100%;             /* Maintain aspect ratio */
  object-fit: contain;      /* Prevent distortion */
}

/* Icons */
.icons{
  position: relative;
  top: 0%;
  transform: translateY(30%);
  padding: 10px;
}

/* Slider */ 
*, *::before, *::after {
  box-sizing: border-box;
}
.slider-container{
  gap: 1rem; /* Space between icons and slider */
  padding: 0; /* Vertical padding for each slider container */
}
input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* background-image: url(assets/start-up.png); */
}
input[type='range']::-moz-range-thumb {
  border: none;
}

.range-style::-webkit-slider-thumb:hover {
  transform: scale(1.10);

}
.range-style::-webkit-slider-thumb:active {
  transform: scale(1.20);
  background: var(--primary-color);
  background-image: linear-gradient(-45deg, #e03742, transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px #d13d47, 1px 1px 2px #861a21;
}

.range-style {
  width: 500px;
  height: 25px;
  padding: 10px;
  background: var(--accent-color); /*slider color*/
  border-radius: 10px;
  box-shadow: -0.5px -0.5px 5px #797c75, 0.5px 0.5px 5px #595c51; /*outer shadow on slider */ 
}

/* webkit = chrome */
.range-style::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 10px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px #626b4e, inset 2px 2px 8px #282b21; 
  /* above = shadow and highlight */
}
.range-style::-webkit-slider-thumb {
  position: relative;
  cursor: pointer;
  top: -150%;
  width: 40px;
  height: 40px;
  background-color: #869460; 
  background-image: linear-gradient(-45deg, #adbf7d, transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px #adbf7d, 1px 1px 2px #707c4f;
  transition: transform 0.2s ease;
}

/* moz -> for firefox! */
.range-style::-moz-range-track {
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.range-style::-moz-range-thumb {
  position: relative;
  top: -60%;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}
